body{
    
    background-color: rgb(34, 1, 1);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 10px;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-self: center
}

input{
    margin-top: 30px;
    height: 30px;
}

#div-formulario{
    margin-top: 150px;
    width: 50vw;
}



@media screen and (max-width: 329 ){
    form{
        width: 50%;
    }
}
    
